<div class="products clearfix">
    {{#each products}}
        <div class="col-sm-6 col-md-4 col-lg-4 cart">
            <h3 class="title">{{title}}</h3>
            <a target="_blank" href={{amazonLink}}>
                <img class="media" src={{image}} >
            </a>
            <p class="description">{{description}}</p>
            <div class="cart-footer">
                <p class="price">{{price}}</p>
                <a class="button" target="_blank" href={{amazonLink}}>Check it out</a>
            </div>
        </div>
    {{/each}}
</div>

<ul class="pagination">
    {{#each pages}}
        {{#if active}}
            <li class="active">
                <a href={{number}}>{{number}}</a>
            </li>
        {{else}}
            <li>
                <a href={{number}}>{{number}}</a>
            </li>
        {{/if}}
    {{/each}}
</ul>